RewriteEngine On
RewriteRule ^public\/(.*)$ public/$1 [QSA,L]
RewriteRule ^(.*)$ index.php?route_params=$1 [QSA,L]

# ExpireActive On
ExpiresDefault "access plus 31536000 seconds"
Header set Cache-Control "must-revalidate"

#RewriteEngine On
#RewriteRule "^$" "index.php?route_params=home"
#RewriteRule "^public\/(.*)$" "public/$1" [END]
#RewriteRule "^(.*)$" "index.php?route_params=$1"