RewriteEngine On
RewriteRule ^public\/(.*)$ public/$1 [QSA,L]
RewriteRule ^(.*)$ index.php?route_params=$1 [QSA,L]

#ExpireActive On
#ExpiresDefault "access plus 31536000 seconds"

<FilesMatch "\.(css)|(js)|(svg)|(webp)|(jpg)|(jpeg)|(png)">
    Header set Cache-Control "max-age=31536000, immutable"
</FilesMatch>

#RewriteEngine On
#RewriteRule "^$" "index.php?route_params=home"
#RewriteRule "^public\/(.*)$" "public/$1" [END]
#RewriteRule "^(.*)$" "index.php?route_params=$1"