<aside class="site-section-beginners-short _sectionpadded">
    <div class="content">
        <p class="text">Consulte également <strong>tous nos dossiers explicatifs</strong> pour bien <strong>comprendre comment installer un Mod</strong></p>
        <a class="std-button -white">
            <div class="text"><span class="bold">Installation de Mods</span></div>
        </a>
    </div>
</aside>