<aside class="site-section-beginners-short _padding -padding-vert-l2">
    <div class="_wrapper -xs _flex -col _gap -gap-row-l2 ">
        <p class="text _text -text-l">Consulte également <strong>tous nos dossiers explicatifs</strong> pour bien <strong>comprendre comment installer un Mod</strong></p>
        <a class="std-button _text -text-l -white _padding -padding-s">
            <div class="text "><span class="bold">Installation de Mods</span></div>
        </a>
    </div>
</aside>