<aside class="socialnetworks _sectionpadded">
    <p class="text">Tu souhaites échanger autour de ce Mod avec la communauté ? Rejoins-nous dès à présent !</p>
    {% include 'sections/social-networks.html.twig' %}
</aside>