<div class="site-social-networks _padding -padding-hori-mobile _rtxt -txtl">
    <a class="button -discord" href="https://discord.gg/ckt7v3Y74n">
        <img class="image" {{ app.imgAttr('Discord', 'discord_logo.svg', false, 105, 95)|raw }}>
        <div class="text">
            <span class="line">Rejoignez-nous</span>
            <span class="line _txt -bold">sur Discord</span>
        </div>
    </a>
    <a class="button -facebook" href="https://www.facebook.com/halflifeetmods/">
        <img class="image" {{ app.imgAttr('Facebook', 'facebook_logo.svg', false, 95, 97)|raw }}>
        <div class="text">
            <span class="line">Rejoignez-nous</span>
            <span class="line _txt -bold">sur Facebook</span>
        </div>
    </a>
</div>