<aside class="socialnetworks _flex -col _gap -gap-row-l _sectionpadded">
    <div class="_wrapper -xs">
        <p class="text _text -text-l">Tu souhaites échanger autour de ce Mod avec la communauté ?<br>Rejoins-nous dès à présent !</p>
    </div>
    {% include 'sections/social-networks.html.twig' %}
</aside>