<div class="site-social-networks">
    <a class="std-button -white -withicon">
        <img alt="Discord" class="image" src="{{ app.asset('discord_logo.svg') }}">
        <div class="text">Rejoignez-nous<br><span class="bold">sur Discord</span></div>
    </a>
    <a class="std-button -blue -withicon">
        <img alt="Facebook" class="image" src="{{ app.asset('facebook_logo.svg') }}">
        <div class="text">Rejoignez-nous<br><span class="bold">sur Facebook</span></div>
    </a>
</div>