<aside class="social-networks-container _gap -gap-row-l2 _sectionpadded">
    <div class="_wrapper -xs">
        <p class="text">Tu souhaites échanger autour de ce Mod avec la communauté ?<br>Rejoins-nous dès à présent !</p>
    </div>
    {% include 'sections/social-networks.html.twig' %}
</aside>