<div class="site-social-networks">
    <a class="button -discord" href="#">
        <img alt="Discord" class="image" {{ app.imgAttr('discord_logo.svg', false, 105, 95)|raw }}>
        <div class="text _textl">
            <span class="line">Rejoignez-nous</span>
            <span class="line -bold">sur Discord</span>
        </div>
    </a>
    <a class="button -facebook" href="#">
        <img alt="Facebook" class="image" {{ app.imgAttr('facebook_logo.svg', false, 95, 97)|raw }}>
        <div class="text _textl">
            <span class="line">Rejoignez-nous</span>
            <span class="line -bold">sur Facebook</span>
        </div>
    </a>
</div>