<div class="site-social-networks">
    <a class="button -discord" href="#">
        <img alt="Discord" class="image" src="{{ app.asset('discord_logo.svg') }}">
        <div class="text _textl">
            <span class="line">Rejoignez-nous</span>
            <span class="line -bold">sur Discord</span>
        </div>
    </a>
    <a class="button -facebook" href="#">
        <img alt="Facebook" class="image" src="{{ app.asset('facebook_logo.svg') }}">
        <div class="text _textl">
            <span class="line">Rejoignez-nous</span>
            <span class="line -bold">sur Facebook</span>
        </div>
    </a>
</div>