{% extends 'base.html.twig' %}

{% block title %}Gestion des mods{% endblock %}

{% block index %}<meta name="robots" content="noindex">{% endblock %}

{% block bodyContent %}
<h1 class="_h1">Gestion des mods</h1>

<div class="box">
    <a class="std-button" href="{{ app.router.generateUrl('admin-manage-playable') }}">Créer un nouveau mod</a>
</div>

<ul class="std-list">
    {% for p in playables %}
    <li class="item">
        <a class="std-link" href="{{ app.router.generateUrl('admin-manage-playable', {id: p.id}) }}">{{ p.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}