{% extends 'base.html.twig' %}

{% block title %}Liste des tests{% endblock %}

{% block index %}<meta name="robots" content="noindex">{% endblock %}

{% block bodyContent %}
<h1 class="_h1">Liste des tests</h1>

<div class="box">
    <a class="std-button" href="{{ app.router.generateUrl('gestion-de-tests') }}">Créer un nouveau test</a>
</div>

<ul class="std-list">
    {% for r in reviews %}
    <li class="item">
        <a class="std-link" href="{{ app.router.generateUrl('gestion-de-tests', {id: r.id}) }}">Pour {{ r.playable_id }} (note {{ r.rating}})</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}