{% extends 'base.html.twig' %}

{% block title %}Gérer les auteurs{% endblock %}

{% block bodyContent %}
<a class="link" href="{{ app.router.generateUrl('manage_author') }}">Créer un nouvel auteur</a>
<ul>
    {% for a in authors %}
    <li class="item">
        <a class="link" href="{{ app.router.generateUrl('manage_author', {id: a.id}) }}">{{ a.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}