{% extends 'base.html.twig' %}

{% block title %}Gérer les mods{% endblock %}

{% block index %}<meta name="robots" content="noindex">{% endblock %}

{% block bodyContent %}
<a class="link" href="{{ app.router.generateUrl('manage_playable') }}">Créer un nouveau mod</a>
<ul>
    {% for p in playables %}
    <li class="item">
        <a class="link" href="{{ app.router.generateUrl('manage_playable', {id: p.id}) }}">{{ p.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}