{% extends 'base.html.twig' %}

{% block title %}Liste des tests{% endblock %}

{% block index %}<meta name="robots" content="noindex">{% endblock %}

{% block bodyContent %}
<a class="link" href="{{ app.router.generateUrl('gestion-de-tests') }}">Créer un nouveau test</a>

<ul>
    {% for r in reviews %}
    <li class="item">
        <a class="link" href="{{ app.router.generateUrl('gestion-de-tests', {id: r.id}) }}">Pour {{ r.playable_id }} (note {{ r.rating}})</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}