{% extends 'base.html.twig' %}

{% block title %}Gérer les auteurs{% endblock %}

{% block index %}<meta name="robots" content="noindex">{% endblock %}

{% block bodyContent %}
<h1 class="_h1">Gestion des auteurs</h1>

<div class="box">
    <a class="std-button" href="{{ app.router.generateUrl('admin-manage-author') }}">Créer un nouvel auteur</a>
</div>

<ul class="std-list">
    {% for a in authors %}
    <li class="item">
        <a class="std-link" href="{{ app.router.generateUrl('admin-manage-author', {id: a.id}) }}">{{ a.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}