{% extends 'base.html.twig' %}

{% from 'macros/article_mosaic.html.twig' import articleMosaic %}

{% block title %}Liste des articles{% endblock %}

{% block description %}Liste des articles de Mapping-Fusion : tests de maps et de mods, tutoriels et guides…{% endblock %}

{% block body %}
<div class="_wrapper _flex -col _gap -gap-row-xl _padding -padding-hori-mobile -padding-vert-l">

    <h1 class="section-heading -inline -white">
        <img class="image" {{ app.imgAttr('Actualités', 'news.svg', false, 107, 103)|raw }}>
        <div class="text _txt -txtl">
            <span>Liste des </span>
            <span class="_txt -bold">actualités</span>
        </div>
    </h1>

    <ul class="std-mosaic-list">
        {% for a in articles %}
        <li class="item">{{ articleMosaic(a, app) }}</li>
        {% endfor %}
    </ul>

    <div class="_txt -textcentered">
        <a class="std-button -darkblue -padded" href="{{ app.router.generateUrl('home') }}">
            <div class="text _txt -bold -txtm">Retour à l’accueil</div>
        </a>
    </div>
</div>

{% include 'sections/social-networks-all.html.twig' %}

{% include 'sections/beginners-all.html.twig' %}


{% endblock %}