{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<form autocomplete="on" method="post">
    <textarea></textarea>
    <button type="submit">Poster</button>
</form>
{% endblock %}