{% extends 'base.html.twig' %}

{% block title %}Édition d’auteur{% endblock %}

{% block bodyContent %}
<form autocomplete="on" class="std-form" enctype="multipart/form-data" method="post">
    <div class="form-row">
        <label class="label" for="id">ID (générée automatiquement)</label>
        <input class="input" id="id" name="id" value="{{ author.data.id }}">
    </div>
    <div class="form-row">
        <label class="label" for="name">Nom</label>
        <input class="input" id="name" name="name" required value="{{ author.data.name }}">
    </div>
    <button type="submit">Poster</button>
</form>
{% endblock %}