{% extends 'base.html.twig' %}

{% block title %}Gestion des images{% endblock %}

{% block index %}<meta name="robots" content="noindex">{% endblock %}

{% block bodyContent %}
<form class="std-form" method="post" enctype="multipart/form-data">
    <div class="form-row">
        <input class="file" name="images[]" type="file" accept="image/*" multiple>
    </div>
    <div class="form-row -checkbox">
        <input class="input" id="create-thumbnails" name="create_thumbnails" type="checkbox" checked>
        <label class="label" for="create-thumbnails">Générer les miniatures</label>
    </div>
    <div class="form-row">
        <button class="std-button">Mettre en ligne</button>
    </div>
</form>
<ul class="std-mosaic-list -twoperrow">
    {% for i in images %}
    <li class="item">
        <img class="img" {{ app.imgAttr(i, i, true, null, 200)|raw }}>
        <em>{{ i }}</em>
        <form method="post">
            <input name="image-to-delete" type="hidden" value="{{ i }}">
            <button class="std-button">Supprimer</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}