{% extends 'base.html.twig' %}

{% from 'macros/csrf_input.html.twig' import csrf %}
{% from 'macros/error_list.html.twig' import errorList %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="_padded -a">
    <div class="_wrappers _flex -centered -gap">
        <h1 class="heading">Connexion</h1>
        <form autocomplete="on" class="std-form -centered _flex -gap" method="post" {% if app.dev %} novalidate{% endif %}>
            <div class="_flex -gaps">
                {{ errorList(formErrors) }}
                <div class="form-row">
                    <label class="label" for="username">Nom d’utilisateur :</label>
                    <input class="input" id="username" name="id" required value="{{ formData.id }}">
                </div>
                <div class="form-row">
                    <label class="label" for="password">Mot de passe :</label>
                    <input class="input" id="password" name="password" required type="password" value="{{ formData.password }}">
                </div>
            </div>
            {{ csrf(app.csrf) }}
            <button class="std-button" type="submit">Se connecter</button>
        </form>
    </div>
</div>
{% endblock %}