{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="_padded -a">
    <div class="_wrappers _flex -centered -gap">
        <h1 class="heading">Connexion</h1>
        <form autocomplete="on" class="std-form -centered _flex -gap" method="post">
            <div class="_flex -gaps">
                {% if formError %}
                <p>{{ formError }}</p>
                {% endif %}
                <div class="form-row">
                    <label class="label" for="username">Nom d’utilisateur :</label>
                    <input class="input" id="username" name="username" required>
                </div>
                <div class="form-row">
                    <label class="label" for="password">Mot de passe :</label>
                    <input class="input" id="password" name="password" required type="password">
                </div>
            </div>
            <button class="std-button" type="submit">Se connecter</button>
        </form>
    </div>
</div>
{% endblock %}