{% extends 'base.html.twig' %}

{% block title %}Déconnexion{% endblock %}

{% block bodyContent %}
<form autocomplete="on" class="std-form _flex -centered -gap" method="post">
    <p>Souhaitez-vous vous déconnecter ?</p>
    <button class="std-button -padded" type="submit">Déconnexion</button>
</form>
{% endblock %}