{% extends 'base.html.twig' %}

{% block title %}Déconnexion{% endblock %}

{% block bodyContent %}
<form autocomplete="on" class="std-form" method="post">
    <button class="std-btn" type="submit">Déconnexion</button>
</form>
{% endblock %}