{% from 'macros/review_mosaic.html.twig' import reviewMosaic %}

{% extends 'base.html.twig' %}

{% block title %}Derniers tests{% endblock %}

{% block body %}
<div class="_wrapper _flex -col _gap -gap-row-xl _padding -padding-vert-xl -padding-hori-mobile">

    <h2 class="section-heading -inline -white">
        <img alt="Liste des tests" class="image" src="{{ app.asset('news.svg') }}">
        <div class="text _text -text-xl">
            <span class="title">Tests maps et mods</span>
            <span class="regular"> proposés par l’équipe</span>
        </div>
    </h2>

    <ul class="std-mosaic-list -n3">
        {% for r in reviews %}
            <li class="item">
                {{ reviewMosaic(r, app) }}
            </li>
        {% endfor %}
    </ul>

    <div class="_text -textcentered">
        <a class="std-button -darkblue -padded" href="{{ app.router.generateUrl('reviews') }}">
            <div class="text _text -text-m">
                <span class="bold">Retour à l’accueil</span>
            </div>
        </a>
    </div>
</div>

{% include 'sections/social-medias-all.html.twig' %}

{% include 'sections/beginners-all.html.twig' %}
{% endblock %}