._gap {
    &.-gap-col-xs {
        column-gap: $gap-xs;
    }

    &.-gap-col-s {
        column-gap: $gap-s;
    }

    &.-gap-col-l {
        column-gap: $gap-l;
    }

    &.-gap-col-l2 {
        column-gap: $gap-l2;
    }

    &.-gap-row-xs {
        row-gap: $gap-xs;
    }

    &.-gap-row-s {
        row-gap: $gap-s;
    }

    &.-gap-row-s2 {
        row-gap: $gap-s2;
    }

    &.-gap-row-m {
        row-gap: $gap-m;
    }

    &.-gap-row-l {
        row-gap: $gap-l;
    }

    &.-gap-row-l2 {
        row-gap: $gap-l2;
    }
    
    &.-gap-row-xl {
        row-gap: $gap-xl;
    }
}