{% extends 'base.html.twig' %}

{% block bodyContent %}
<form autocomplete="on" class="form-row-container" enctype="multipart/form-data" method="post">
    <div class="form-row">
        <label class="label" for="author-id">ID de l’auteur</label>
        <select class="input -text" id="author-id" name="contribution_author_id" required>
            {% for a in authors %}
            <option label="{{ a.name }}" value="{{ a.id }}" {% if contribution and contribution.contributionAuthorId == a.id %}selected="selected"{% endif %}>
            {% endfor %}
        </select>
    </div>
    <div class="form-row -checkbox">
        <input class="input" id="is-author" name="contribution_is_author" type="checkbox"{% if contribution %}{% if contribution['contribution_is_author'] %} checked{% endif %}{% endif %}><label class="label" for="is-author">Auteur du mod</label>
    </div>
    <div class="form-row">
        <label class="label" for="summary">Contenu de l’article</label>
        <textarea class="input -text" id="summary" name="contribution_summary">{% if article %}{{ article['contribution_summary'] }}{% endif %}</textarea>
    </div>
    <button type="submit">Poster</button>
</form>
{% endblock %}