{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import articleMosaic, breadcrumb %}

{% block description %}Résultats pour : {{ searchQuery }}{% endblock %}

{% block body %}

<div class="page-section">
    <div class="_wrapper">
        {% if articles %}
        <h1 class="_h1">{{ page.name }}</h1>

        <ul class="std-mosaic-list -oneperrow _marginm -mgbottom">
            {% for a in articles %}
            {% if app.conf.dev %}
            <li class="item">{{ a.ranking }}</li>
            {% endif %}
            <li class="item">{{ articleMosaic(a, app) }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <h1 class="_h1">Aucun résultat</h1>
        <p>Aucun article ne correspond à cette recherche.</p>
        {% endif %}
    </div>
</div>
{% endblock %}