.glide__slide {
    > .link {
        background-position: center;
        background-size: cover;
        height: $area-l-height;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        text-decoration: none;
        font-size: 2rem;
        text-shadow: 0 0 $txt-l-shadow-blur #000000;
    }
}