.glide {
    $bullet-height: $img-size-xs / 3 + $border-s * 2;

    &.-arrows {
        display: flex;

        > .controls {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 0;

            .button {
                border: none;
                flex-shrink: 0;
                height: $bullet-height;
                width: $bullet-height;
                z-index: 1;

                border-radius: 50%;
                background: center / 80% no-repeat;
                background-color: $color-blue-0;

                &.-left {
                    background-image: url('arrow-left.svg');
                }

                &.-right {
                    transform: translateX(-100%);
                    background-image: url('arrow-right.svg');
                }
            }
        }
    }


    > .glide__bullets {
        display: flex;
        gap: 16px;
        height: 0;
        justify-content: center;
    
        > .glide__bullet {
            border: 5px solid transparent;
            transform: translateY(-100%);
            width: 118px;
            height: 46px;
            z-index: 2;

            background-clip: content-box;
            background-size: cover;
            background-position: center;

            &.glide__bullet--active {
                border-color: #3d9cce;
            }

        }
    }

    > .glide__track {
        width: 100%;

        .glide__slides {
            .glide__slide {
                > .link {
                    display: flex;
                    flex-direction: column;
                    height: 502px;
                    justify-content: center;
                    
                    background-position: center;
                    background-size: cover;
                    color: $color-white;
                    text-align: center;
                    text-shadow: 0 0 $txt-shadow-blur-l #000000;

                    > .title {
                        font-weight: $txt-weight-semi-bold;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-size-m) {    
        $bullet-height: $img-size-xs / 2 + $border-s * 2;

        &.-arrows {
            > .controls {    
                .button {
                    &.-left {
                        transform: translateX(-50%);
                    }

                    &.-right {
                        transform: translateX(-50%);
                    }
                }
            }
        }

        > .glide__bullets {
            gap: 42px;

            > .glide__bullet {
                width: 236px;
                height: 92px;
            }
        }
    }
}