* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
em {
  font-style: normal;
  font-weight: bold;
}
img {
  max-width: 100%;
}
@media (min-width: 425px) {
  ._wrapper {
    width: 95%;
    margin: auto;
  }
}
@media (min-width: 768px) {
  ._wrapper {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  ._wrapper {
    width: 85%;
  }
}
.glide {
  overflow: hidden;
  width: 100%;
}
.glide > .glide__bullets {
  display: flex;
  justify-content: center;
  gap: 8px;
  position: relative;
  z-index: 2;
  top: -47.4666666667px;
  height: 0;
}
.glide > .glide__bullets > .glide__bullet {
  border: 3px solid transparent;
  background: none;
  height: fit-content;
}
.glide > .glide__bullets > .glide__bullet > .image {
  font-size: 0;
  background-size: cover;
  background-position: center;
  width: 85.3333333333px;
  height: 42.6666666667px;
}
.glide > .glide__bullets > .glide__bullet.glide__bullet--active {
  border-color: #3d9cce;
}
.glide > .glide__track .glide__slides .glide__slide > .link {
  height: 60vh;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 2rem;
  padding-bottom: 128px;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0 6.4px #000000;
}
@media (min-width: 768px) {
  .glide > .glide__bullets {
    top: -72px;
  }
  .glide > .glide__bullets > .glide__bullet > .image {
    width: 128px;
    height: 64px;
  }
}
@media (min-width: 1024px) {
  .glide > .glide__bullets {
    top: -136px;
    gap: 32px;
  }
  .glide > .glide__bullets > .glide__bullet > .image {
    width: 256px;
    height: 128px;
  }
  .glide > .glide__track .glide__slides .glide__slide > .link {
    padding-bottom: 256px;
  }
}
.site-admin-nav {
  background-color: #000000;
}
.site-admin-nav > .list {
  list-style-type: none;
}
.site-admin-nav > .list > .item {
  display: inline-block;
}
.site-admin-nav > .list > .item > .link {
  color: #ffffff;
  display: block;
  padding: 4.8px;
  text-decoration: none;
}
.site-admin-nav > .list > .item > .link:hover {
  background-color: #2a2a2a;
}
.site-body {
  font-family: "Montserrat", sans-serif, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.site-footer {
  background-color: #0b4b6e;
  color: #ffffff;
  padding: 16px 0;
}
.site-footer > ._wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.site-header > ._wrapper {
  display: flex;
  align-items: stretch;
  gap: 8px;
  padding: 8px;
}
.site-header > ._wrapper > .button {
  display: none;
  background: none;
  border: none;
}
.site-header > ._wrapper > .button > .img {
  display: block;
}
.site-header > ._wrapper > .logo {
  width: 50%;
}
.site-header > ._wrapper > .logo > .img {
  width: 100%;
  display: block;
}
.site-header > ._wrapper > .text {
  display: none;
}
.site-header > ._wrapper > .text > .intro {
  display: none;
  font-size: 0.8rem;
  color: #19577a;
}
@media (max-width: 424px) {
  .site-header > ._wrapper.-js {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .site-header > ._wrapper.-js > .button {
    display: block;
  }
  .site-header > ._wrapper.-js > .text {
    width: 100%;
    order: 1;
  }
  .site-header > ._wrapper.-js > .text.-open {
    display: block;
  }
}
@media (min-width: 425px) {
  .site-header > ._wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .site-header > ._wrapper > .logo {
    width: 30%;
  }
  .site-header > ._wrapper > .text {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .site-header > ._wrapper {
    gap: 32px;
  }
  .site-header > ._wrapper > .logo {
    width: 15%;
  }
}
@media (min-width: 1024px) {
  .site-header > ._wrapper > .logo {
    width: 10%;
  }
  .site-header > ._wrapper > .text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .site-header > ._wrapper > .text > .intro {
    display: block;
    font-size: 1rem;
  }
}
.site-maps-and-mods-tests {
  background-color: #0c4b6e;
  color: #ffffff;
  text-align: center;
  padding: 128px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-maps-and-mods-tests > ._wrapper > .section-heading, .site-maps-and-mods-tests > ._wrapper > .std-block-list {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .site-maps-and-mods-tests > ._wrapper {
    background: url("headcrab-transparent.svg") no-repeat, url("marine-transparent.svg") no-repeat right/contain;
  }
}
.site-section-beginners {
  background-color: #22668c;
  color: #ffffff;
}
.site-section-beginners > ._wrapper, .site-section-beginners > ._wrapper > .left, .site-section-beginners > ._wrapper > .right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px 4.8px;
}
.site-section-beginners > ._wrapper > .left > .title, .site-section-beginners > ._wrapper > .left > .text {
  font-size: 1.2rem;
}
.site-section-beginners > ._wrapper > .left > .title {
  color: #45b0e9;
  font-weight: normal;
}
.site-section-beginners > ._wrapper > .right {
  font-size: 0.8rem;
}
.site-section-beginners > ._wrapper > .right > .item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.site-section-beginners > ._wrapper > .right > .item > .subject {
  font-weight: bold;
}
.site-section-beginners > ._wrapper > .right > .item > .text {
  color: #45b0e9;
}
@media (min-width: 425px) {
  .site-section-beginners > ._wrapper {
    flex-direction: row;
    padding: 16px 0;
  }
  .site-section-beginners > ._wrapper > .left, .site-section-beginners > ._wrapper > .right {
    padding: 128px 0;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .site-section-beginners > ._wrapper > .left {
    background-image: url("barney-transparent.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .site-section-beginners > ._wrapper > .right {
    background: url("munition-transparent.svg") no-repeat center right, url("grenade-transparent.svg") no-repeat top;
  }
}
.site-social-networks {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: #19577a;
  box-shadow: 0 -1.5rem 3rem 1.5rem #19577a;
}
.site-social-networks > .std-button {
  height: 64px;
  overflow: hidden;
  position: relative;
  top: 41.5px;
}
.site-social-networks > .std-button > .image {
  height: 100%;
}
.site-section-news-articles {
  background-color: #19577a;
  color: #ffffff;
  padding: 128px 0;
}
.site-section-news-articles > ._wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.site-section-news-articles > ._wrapper > .std-block-list {
  width: 100%;
  gap: 16px;
}
@media (min-width: 768px) {
  .site-section-news-articles > ._wrapper {
    background: url("crowbar-transparent.svg") no-repeat, url("gauss-transparent.svg") no-repeat 6rem 3rem, url("bullsquid-transparent.svg") no-repeat top right;
  }
  .site-section-news-articles > ._wrapper > .std-block-list {
    flex-wrap: wrap;
  }
  .site-section-news-articles > ._wrapper > .std-block-list > .item {
    width: 40%;
  }
}
.section-heading {
  text-align: center;
}
.section-heading > .img {
  margin-bottom: 8px;
}
.section-heading > .title, .section-heading > .p {
  font-size: 1.7rem;
}
.section-heading > .p {
  font-weight: 400;
}
.section-heading > .title {
  font-weight: 700;
}
.section-heading.-inline > .p, .section-heading.-inline > .title {
  display: inline-block;
  vertical-align: middle;
}
.section-heading.-inline > .p {
  font-weight: normal;
}
.section-heading.-inline > .title {
  padding-left: 8px;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 4.8px;
  list-style-type: none;
}
.header-menu > .item {
  display: inline-block;
}
.header-menu > .item.-search {
  width: 100%;
}
.header-menu > .item > .std-search-input, .header-menu > .item > .link {
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 3px;
  display: block;
  font-size: 0.8rem;
  padding: 4.8px;
}
.header-menu > .item > .std-search-input {
  width: 100%;
}
.header-menu > .item > .link {
  border-color: #3d9cce;
  color: #206b96;
}
@media (min-width: 1024px) {
  .header-menu {
    gap: 8px;
  }
  .header-menu > .item.-search {
    width: auto;
  }
  .header-menu > .item > .std-search-input, .header-menu > .item > .link {
    font-size: 1rem;
  }
}
.std-badge {
  display: inline-block;
  background-color: #3D9CCE;
  padding: 4.8px;
  color: #ffffff;
  font-size: 0.8rem;
}
.std-block-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.std-block-list > .item {
  flex-basis: auto;
  flex-grow: 1;
  height: 20vi;
}
@media (min-width: 768px) {
  .std-block-list {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
  .std-block-list > .item {
    height: 10vi;
  }
  .std-block-list.-small > .item {
    height: 7.5vi;
  }
}
.std-button {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  border: 1.5px solid #ffffff;
  gap: 8px;
  justify-content: center;
  padding: 4.8px;
  text-decoration: none;
}
.std-button.-blue {
  background-color: #19577a;
  color: #ffffff;
}
.std-button.-white {
  background-color: #ffffff;
  color: #0b4b6e;
}
.std-button.-withicon > .text {
  display: none;
}
.std-button > .text {
  text-align: center;
}
.std-button > .text > .bold {
  font-weight: 700;
}
@media (min-width: 425px) {
  .std-button {
    padding: 8px;
  }
  .std-button.-withicon > .text {
    display: block;
  }
}
.std-form > .form-row {
  margin-bottom: 4.8px;
}
.std-inline-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  gap: 16px;
  justify-content: center;
  list-style-type: "-";
}
.std-inline-list > .item {
  padding-left: 8px;
}
.std-inline-list > .item > .link {
  text-decoration: none;
  color: #ffffff;
}
.std-inline-list > .item > .link > .img {
  height: 0.8rem;
}
.std-inline-list > .item:first-child, .std-inline-list > .item.-img {
  list-style-type: none;
}
.std-search-input {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #1e1e1e;
}
.form-row > .input, .form-row > .label {
  display: block;
}
.form-row.-checkbox > .input, .form-row.-checkbox > .label {
  display: inline-block;
  vertical-align: middle;
}
.form-row.-checkbox > .input {
  margin-right: 4.8px;
}
.form-row.-singleimage > .image {
  width: 100%;
  max-width: 16rem;
}
.article-mosaic {
  display: flex;
  gap: 8px;
  height: 100%;
  text-decoration: none;
}
.article-mosaic > .left {
  display: flex;
  flex: 0 0 25%;
  align-items: end;
  background-size: cover;
  background-position: center;
}
.article-mosaic > .left > .std-badge {
  position: relative;
  top: 0.5rem;
  left: 8px;
}
.article-mosaic > .right {
  overflow: hidden;
}
.article-mosaic > .right > .date, .article-mosaic > .right > .excerpt, .article-mosaic > .right > .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article-mosaic > .right > .title {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
}
.article-mosaic > .right > .date {
  color: #71c4ef;
  font-weight: 600;
}
.article-mosaic > .right > .excerpt {
  color: #f5f5f5;
  font-weight: 300;
}
@media (min-width: 1024px) {
  .article-mosaic > .left {
    flex: 0 0 35%;
  }
}
.review-mosaic {
  display: block;
  height: 100%;
  color: #ffffff;
}
.review-mosaic > .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4.8px;
  height: 100%;
  justify-content: center;
  background-color: #00000099;
  transition: background-color 0.2s ease;
}
.review-mosaic > .content > .playable {
  font-size: 1.2rem;
  font-weight: 600;
}
.review-mosaic > .content > .game {
  font-size: 1rem;
  font-weight: 700;
  padding: 4.8px;
  background-color: #3d9cce;
}
.review-mosaic:hover > .content {
  background-color: #00000066;
}
