._padding.-padding-hori-mobile {
  padding-left: 0;
  padding-right: 0;
}
._wrapper {
  margin: auto;
  max-width: 90rem;
  width: 85%;
}
._wrapper.-s {
  max-width: 75rem;
}
._wrapper.-xs {
  max-width: 65rem;
}
._wrappers {
  width: 50%;
}
.glide.-arrows > .controls .button.-left {
  transform: translateX(-50%);
}
.glide.-arrows > .controls .button.-right {
  transform: translateX(-50%);
}
.glide > .glide__bullets {
  gap: 42px;
}
.glide > .glide__bullets > .glide__bullet {
  width: 236px;
  height: 92px;
}
.site-maps-and-mods-tests > ._wrapper {
  background: url("headcrab-transparent.svg") no-repeat top 206px left 160px / 160px 144px, url("marine-transparent.svg") no-repeat top 86px right 46px / 208px 296px;
}
.site-maps-and-mods-tests > ._wrapper > .list {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.site-section-beginners > ._wrapper {
  gap: 2%;
}
.site-section-beginners > ._wrapper > .left, .site-section-beginners > ._wrapper > .right {
  flex-basis: 48%;
}
.std-article > .columns {
  flex-direction: row;
}
.std-article > .columns > .nav {
  order: 1;
  position: relative;
  left: -30%;
  width: 30%;
  flex: 0 0 auto;
}
.std-article > .columns > .nav > .article-nav {
  position: sticky;
  top: 18px;
}
.std-article > .columns > .content {
  flex: 0 0 100%;
}
.std-article > .columns > .content > .glide, .std-article > .columns > .content > .sectioncontent, .std-article > .columns > .content > .intro > .sectioncontent {
  width: 70dvw;
}
.std-metadata {
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 32px;
}
.article-mosaic {
  flex-direction: row;
}
.article-mosaic > .left {
  flex: 0 0 auto;
  width: 316px;
}
.article-nav {
  flex: 0 0 16%;
  background: none;
}
.article-nav > .frame {
  background-color: #0c4b6e;
  flex: 0 0 auto;
}
.article-nav > .frame.-articlenav {
  display: unset;
  color: #72c5f0;
  text-align: right;
}
.article-nav > .frame.-articlenav > .list > .item {
  border-right: 8px solid;
  padding-left: 0;
}
.article-nav > .frame.-articlenav > .list > .item.-active {
  color: #ffffff;
  font-weight: 700;
}
.article-nav > .frame > .list {
  flex-direction: column;
}
.article-nav > .frame > .list > .item > .list > .std-button {
  font-weight: 600;
}
