._wrapper {
  width: 75%;
}
.std-article > .columns > .nav {
  left: -30%;
}
.std-article > .columns > .content > .glide, .std-article > .columns > .content > .sectioncontent, .std-article > .columns > .content .intro > .sectioncontent {
  width: 40dvw;
  margin: auto;
}
.std-interactive.-search > .icon {
  height: 1.2rem;
}
