* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
em {
  font-style: normal;
  font-weight: bold;
}
.glide__slide > .link {
  background-position: center;
  background-size: cover;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  text-shadow: 0 0 0.4rem #000000;
  text-align: center;
}
.site-admin-nav {
  background-color: #000000;
}
.site-admin-nav > .list {
  list-style-type: none;
}
.site-admin-nav > .list > .item {
  display: inline-block;
}
.site-admin-nav > .list > .item > .link {
  color: #ffffff;
  display: block;
  padding: 0.3rem;
  text-decoration: none;
}
.site-admin-nav > .list > .item > .link:hover {
  background-color: #2a2a2a;
}
.site-body {
  font-family: "Montserrat", sans-serif, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.site-section > .wrapper {
  margin: auto;
  width: 90%;
  max-width: 70rem;
  padding: 0.3rem;
}
.site-section.-header > .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 0.3rem;
}
.site-section.-header > .wrapper > .logo > .img {
  height: 6rem;
  width: auto;
}
.site-section.-header > .wrapper > .text {
  display: flex;
  row-gap: 0.3rem;
  flex-direction: column;
  justify-content: center;
}
.site-section.-header > .wrapper > .text > .intro {
  color: #19577a;
}
.header-nav > .list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  row-gap: 0.3rem;
  flex-wrap: wrap;
}
.header-nav > .list > .item {
  display: inline-block;
}
.header-nav > .list > .item > .search, .header-nav > .list > .item > .link {
  display: block;
  border-radius: 0.5rem;
  padding: 0.3rem;
  border-width: 3px;
  border-style: solid;
}
.header-nav > .list > .item > .search {
  color: #1e1e1e;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
.header-nav > .list > .item > .link {
  border-color: #3d9cce;
  color: #206b96;
}
.std-form > .form-row {
  margin-bottom: 0.3rem;
}
.form-row > .input, .form-row > .label {
  display: block;
}
.form-row.-checkbox > .input, .form-row.-checkbox > .label {
  display: inline-block;
  vertical-align: middle;
}
.form-row.-checkbox > .input {
  margin-right: 0.3rem;
}
.form-row.-singleimage > .image {
  width: 100%;
  max-width: 16rem;
}
