.site-maps-and-mods-tests {
    @include vertical-section;

    background-color: $color-blue-3;

    > .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: $block-width-interface-xl;
        margin: auto;
        gap: $gap-l;
        text-align: center;
        padding-top: 112px;
        

        > .list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            
            > .item {
                overflow: hidden;
                flex: 0 0 50%;
                height: $img-size-s;
            }
        }
    }
}