.std-inline-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
    text-align: center;

    > .item {
        > .link {
            color: $color-white;

            > .img {
                height: 1em;
            }
        }

        &.-img {
            display: inline-flex;
            gap: 32px;
            justify-content: center;
        }
    }
}