.glide {
    &.-arrows {
        > .controls {    
            .button {
                &.-right {
                    transform: translateX(-100%);
                }
            }
        }
    }

    > .glide__bullets {
        gap: 42px;

        > .glide__bullet {
            width: 236px;
            height: 92px;
        }
    }
}