.article-advice {
    display: flex;
    align-items: stretch;

    background-color: $color-blue-1;

    > .img {
        flex: 0 0;
    }

    > .text {
        > .heading {
            color: $color-white;
        }
    }
}