.article-nav {
    display: flex;
    flex-direction: column;

    background-color: $color-blue-3;

    > .frame {
        display: flex;
        flex-direction: column;

        border: 3px solid $color-blue-1;

        &.-articlenav {
            display: none;
        }

        &.-related {
            > .heading {
                color: $color-white;
                text-align: center;
            }

            > .list {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                > .item {
                    > .link {
                        display: flex;
                        flex-direction: column;
                        width: 176px;

                        color: $color-white;
                        font-weight: $txt-weight-regular;

                        > .image {
                            width: 100%;
                            display: block;
                        }
                    }

                    > .list {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}