.article-cover {
    background-position: center;
    background-size: cover;
    height: 512px;

    > .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 35px;
        min-height: 486px;

        text-align: center;

        > .subtitle,
        > .title {
            color: $color-white;
        }

        > .title {
            font-weight: $txt-weight-semi-bold;
        }

        > .subtitle {
            font-weight: $txt-weight-regular;
        }
    }
}