.article-advice {
    padding-left: $gap-s * 2 + 125px;
    background-image: url("mapping-fusion-advice.svg");
    background-position: center left 16px;
    background-size: 125px 106px;
    background-repeat: no-repeat;
}