.article-cover {
    background-position: center;
    background-size: cover;

    > .content {
        background: url('blue-shadow.png') repeat-x bottom left / auto 50%;

        > .heading {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 486px;

            text-align: center;
            font-weight: $txt-weight-semi-bold;

            > .link {
                > .subtitle,
                > .title {
                    color: $color-white;
                }
            }
        }
    }
}