.article-mosaic {
    display: flex;

    > .left,
    > .right {
        height: 208px;
    }

    > .left {
        display: flex;
        flex: 0 0 auto;
        width: 316px;
        align-items: end;

        background-size: cover;
        background-position: center;

        > .std-badge {
            position: relative;
            top: $txt-font-size-m / 2;
            left: $gap-s;
        }
    }

    > .right {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;

        > .date,
        > .title,
        > .excerpt {
            overflow: hidden;
            flex: 0 0 100%;
        }

        > .date,
        > .title {
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        > .title {
            color: $color-white;
            font-weight: $txt-weight-semi-bold;
        }

        > .date {
            color: #71c4ef;
            font-weight: $txt-weight-semi-bold;
        }

        > .excerpt {
            flex: 0 1 auto;
            color: #f5f5f5;
            font-weight: $txt-weight-light;
        }
    }
}