.article-advice {
    padding: $gap-s;
    background-color: $color-blue-1;

    > h2 {
        color: $color-white;
        font-size: 25px;
        font-weight: bold;
    }

    > p {
        font-size: 19px;
    }
}