.article-cover {
    display: flex;
    align-items: center;
    height: $cover-height;
    justify-content: center;

    background-position: center;
    background-size: cover;

    > .text {
        font-size: $txt-font-size-xxl;

        text-align: center;

        > .subtitle,
        > .title {
            color: $color-white;
        }

        > .title {
            font-weight: $txt-weight-semi-bold;
        }

        > .subtitle {
            font-weight: $txt-weight-regular;
        }
    }
}