.form-row {
    &.-buttons {
        display: flex;
        justify-content: center;
        gap: $gap-xs;

        &.-left {
            justify-content: start;
        }
    }

    > .input,
    > .label {
        display: block;
    }

    > .input.-text,
    > .input.-textarea,
    > .select > .option {
        padding: $gap-xxxs-2;
    }

    > .input {
        &.-text,
        &.-textarea {
            padding: $gap-xxxs-2;
        }

        &.-text {
            min-width: 50%;
        }

        &.-textarea {
            width: 100%;
            height: 40dvh;
        }
    }

    &.-fullwidth {
        > .input {
            width: 100%;
        }
    }

    &.-titled {
        > .label {
            @include h2;
            margin-bottom: $gap-xs;
        }
    }

    &.-checkbox {
        > .input,
        > .label {
            display: inline-block;
            vertical-align: middle;
        }

        > .input {
            margin-right: $gap-xs;
        }
    }

    &.-singleimage {
        > .image {
            height: auto;
            max-width: $img-size-s;
            width: 100%;
        }

        > .current {
            font-size: $r-font-size-s;
            font-style: italic;
        }
    }
}