.form-row {
    > .input,
    > .label {
        display: block;
    }

    &.-checkbox {
        > .input,
        > .label {
            display: inline-block;
            vertical-align: middle;
        }

        > .input {
            margin-right: $gap-xs;
        }
    }

    &.-singleimage {
        > .image {
            width: 100%;
            max-width: $icon-size-s;
        }
    }
}