.form-row {
    > .input,
    > .label {
        display: block;

        &.-textarea {
            width: 100%;
            height: 40dvh;
        }
    }

    &.-titled {
        > .label {
            @include h2;
            margin-bottom: $gap-xs;
        }
    }

    &.-checkbox {
        > .input,
        > .label {
            display: inline-block;
            vertical-align: middle;
        }

        > .input {
            margin-right: $gap-xs;
        }
    }

    &.-singleimage {
        > .image {
            height: auto;
            max-width: $icon-size-s;
            width: 100%;
        }
    }
}