.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-xs;
    list-style-type: none;

    > .item {
        display: inline-block;

        &.-search {
            width: 100%;
        }

        > .form > .std-search-input,
        > .link {
            border-radius: $block-border-width;
            border-style: solid;
            border-width: $border-s;
            display: block;
            font-size: $txt-font-size-s;
            padding: $gap-xs;
        }

        > .form > .std-search-input {
            width: 100%;
        }

        > .link {
            border-color: #3d9cce;
            color: #206b96;

        }
    }

    @media (min-width: $screen-size-l) {
        gap: $gap-s;

        > .item {
            &.-search {
                width: auto;
            }

            > .form > .std-search-input,
            > .link {
                font-size: $txt-font-size-m;
            }
        }
    }
}