.img-preview-container {
    
    position: fixed;
    left: 0;
    top: 0;
    z-index: $z-index-img-preview;
    
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;

    background: $color-blue-4-transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-s;
    justify-content: center;

    > .link {
        max-width: 98dvw;
        max-height: 98dvh;
        > .img {
            display: block;
            box-shadow: 0 0 $shadow-m $color-black;
        }
    }

    > .std-button {
        position: fixed;
        bottom: $gap-s;
    }

    &.-hidden {
        display: none;
    }
}