.img-preview-container {
    
    position: fixed;
    left: 0;
    top: 0;
    z-index: $z-index-img-preview;
    
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;

    background: $color-blue-4-transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-s;
    justify-content: center;

    > .text {    
        position: fixed;
        bottom: $gap-s;

        display: flex;
        flex-direction: column;
        gap: $gap-s;
        align-items: center;

        > .advice {
            color: $color-white;
            font-size: $r-font-size-s;
            font-style: italic;
            text-shadow: 0 0 $shadow-xs $color-black;
        }
    }

    > .link {
        max-width: 98dvw;
        max-height: 90dvh;

        > .img {
            display: block;
            max-height: 100%;
            box-shadow: 0 0 $shadow-m $color-black;
        }
    }

    &.-hidden {
        display: none;
    }
}