.page-home {
    > .site-maps-and-mods-tests > ._wrapper,
    > .site-social-networks > .content {
        padding-top: 124px;
    }

    > .site-maps-and-mods-tests {
        padding-top: 0;
    }

    > .site-social-networks > .content {
        background-color: #19577a;
        box-shadow: 0 (-$area-size-s / 2) $area-size-s ($area-size-s / 2) #19577a;
        position: relative;
        height: 0;
    }
}