.page-home {
    > .site-maps-and-mods-tests > ._wrapper,
    > .site-social-networks > .content {
        padding-top: 124px;
    }

    > .site-maps-and-mods-tests {
        padding-top: 0;
    }

    > .site-social-networks > .content {
        background-color: #19577a;
        box-shadow: 0 (-$cover-height/8) $cover-height/4 ($cover-height/8) $color-blue-2;
        position: relative;
        height: 0;
    }
}