.page-article {
    > .socialnetworks {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: $gap-l;

        > .text {
            max-width: $txt-area-width-s;
            font-weight: $txt-weight-bold;
            text-align: center;
        }
    }
}