.page-home {
    > .site-social-networks {
        background-color: #19577a;
        box-shadow: 0 (-$area-size-s / 2) $area-size-s ($area-size-s / 2) #19577a;
        position: relative;

        > .std-button {
            transform: translateY(50%);
        }
    }
}