.review-mosaic-bare {
    display: block;
    height: 100%;

    color: #ffffff;

    > .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: $gap-xs;
        height: 100%;
        justify-content: center;

        background-color: #00000099;
        transition: background-color 0.2s ease;

        > .playable {
            font-size: $txt-font-size-l;
            font-weight: $txt-weight-semi-bold;
        }

        > .game {
            font-size: $txt-font-size-m;
            font-weight: $txt-weight-bold;
            padding: $gap-xs;

            background-color: #3d9cce;
        }
    }

    &:hover {
        > .content {
            background-color: #00000066;
        }
    }
}