.review-mosaic {
    display: flex;
    flex-direction: column;
    gap: $gap-m;

    > .img {
        display: flex;
        align-items: end;
        height: $img-size-xs;

        background-size: cover;
        background-position: center;

        > .std-badge {
            position: relative;
            top: $gap-m;
            left: $gap-m;
        }
    }

    > .text {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > .left {
            > .date,
            > .title {
                font-size: $txt-font-size-m;
            }

            > .date {
                color: $color-blue-2;
            }

            > .date {
                color: $color-white;
            }
        }
    }
}