.section-heading {
    text-align: center;

    &.-white {
        > .title {
            color: $color-white;
        }
    }

    > .img {
        margin-bottom: $gap-s;
    }

    > .title,
    > .p {
        font-size: $txt-font-size-xl;
    }

    > .p {
        font-weight: $txt-weight-regular;
    }

    > .title {
        font-weight: $txt-weight-bold;
    }

    &.-inline {
        > .p,
        > .title {
            display: inline-block;
            vertical-align: middle;
        }

        > .p {
            font-weight: normal;
        }

        > .title {
            padding-left: $gap-s;
        }
    }
}