.site-maps-and-mods-tests {
    background-color: #0c4b6e;

    > ._wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;

        > .list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            
            > .item {
                flex: 0 0 50%;
                height: 176px;
            }
        }
    }
}