.site-section-news-articles {
    background-color: $color-blue-2;
    color: $color-white;

    > ._wrapper {
        display: flex;
        flex-direction: column;
        padding: 94px 0 46px 0;
        align-items: center;

        > .list {
            display: flex;
            flex-direction: column;
            flex: 0 0 100%;

            > .item {
                flex: 1 1 100%;
            }
        }
    }

    @media (min-width: $screen-size-l2) {
        > ._wrapper {
            background: url('crowbar-transparent.svg') no-repeat top 20px left / 207px 123px,
                url('gauss-transparent.svg') no-repeat top 103px left 121px / 313px 87px,
                url('bullsquid-transparent.svg') no-repeat top 44px right 89px / 285px 162px
            ;

            > .list {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                > .item {
                    flex: 0 0 48%;
                    max-width: 48%;
                }
            }
        }
    }
}