.site-section {
    &.-header {
        > .wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: $gap-l;
            row-gap: $gap-xs;

            > .logo > .img {
                height: $btn-l-height;
                width: auto;
            }

            > .text {
                display: flex;
                row-gap: $gap-xs;
                flex-direction: column;
                justify-content: center;

                > .intro {
                    color: #19577a;
                }
            }
        }
    }
}