.site-social-networks {
    > .content {
        > .button {
            > .text {
                display: block;
                text-align: center;
    
                > .line {
                    display: block;
                }
            }
        }
    }
}