.site-social-networks {
    background-color: #19577a;
    box-shadow: 0 (-$area-s-size / 2) $area-s-size ($area-s-size / 2) #19577a;
    display: flex;
    gap: $gap-l;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    > .link {
        align-items: center;
        border: $border-xs solid #ffffff;
        display: flex;
        gap: $gap-xs;
        justify-content: center;
        position: relative;
        top: 5vb;

        > .image {
            height: $img-xxs-size;
        }

        > .text {
            display: none;
        }

        &.-white {
            @include white-button;
        }

        &.-blue {
            @include blue-button;
        }
    }

    @media (min-width: $screen-s-size) {
        > .link {
            > .text {
                text-align: center;
                display: block;
            }
        }
    }
}