.site-section-beginners {
    background-color: #22668c;

    > ._wrapper {
        display: flex;
        flex-wrap: wrap;


        > .left,
        > .right {
            flex: 0 0 100%;
        }

        > .left,
        > .right,
        > .right > .item {
            display: flex;
            flex-direction: column;
        }
        > .left {
            > .title {
                color: #45b0e9;
                font-weight: normal;
            }
        }

        > .right {
            > .item {
                > .subject {
                    font-weight: bold;
                }

                > .text {
                    color: #45b0e9;
                }
            }
        }
    }

    @media (max-width: ($screen-size-m - 1px)) {
        > ._wrapper {
            > .left {
                padding-bottom: 0;
            }

            > .right {
                padding-top: 0;
            }
        }
    }
}