.site-social-networks {
    display: flex;
    justify-content: center;
    gap: $gap-l;
    background-color: #19577a;
    box-shadow: 0 (-$area-s-size / 2) $area-s-size ($area-s-size / 2) #19577a;
    z-index: 1;
    position: relative;
    padding-top: $gap-l;

    > .link {
        display: flex;
        align-items: center;
        gap: $gap-xs;
        justify-content: center;
        position: relative;
        top: 5vb;
        border: $border-xs solid #ffffff;

        > .image {
            height: $img-xxs-size;
        }

        > .text {
            text-align: center;
        }

        &.-white {
            @include white-button;
        }

        &.-blue {
            @include blue-button;
        }
    }
}