.site-section-beginners {
    background-color: #22668c;
    color: #ffffff;
    padding: $gap-m 0;

    > ._wrapper,
    > ._wrapper > .left,
    > ._wrapper > .right {
        display: flex;
        flex-direction: column;
        gap: $gap-l;
    }

    > ._wrapper {
        > .left {
            > .title,
            > .text {
                font-size: $txt-l-font-size;
            }

            > .title {
                color: #45b0e9;
                font-weight: normal;
            }
        }

        > .right {
            font-size: $txt-s-font-size;
            > .item {
                display: flex;
                flex-direction: column;
                gap: $gap-s;

                > .subject {
                    font-weight: bold;
                }

                > .text {
                    color: #45b0e9;
                }
            }
        }
    }

    @media (min-width: $screen-s-size) {
        > ._wrapper {
            flex-direction: row;

            > .left,
            > .right {
                padding: $gap-xl 0;
                width: 50%;
            }
        }
    }

    @media (min-width: $screen-m-size) {
        > ._wrapper {
            > .left {   
                background-image: url('/public/barney-transparent.svg');
                background-position: right;
                background-repeat: no-repeat;
                background-size: contain;
            }

            > .right {
                background: url('/public/munition-transparent.svg') no-repeat center right, url('/public/grenade-transparent.svg') no-repeat top;
            }
        }
    }
}