.site-section-beginners {
    background-color: #22668c;

    > ._wrapper,
    > ._wrapper > .left,
    > ._wrapper > .right,
    > ._wrapper > .right > .item {
        display: flex;
        flex-direction: column;
    }

    > ._wrapper {
        > .left {
            gap: 42px;

            > .title {
                color: #45b0e9;
                font-weight: normal;
            }
        }

        > .right {
            gap: 33px;

            > .item {
                gap: 18px;

                > .subject {
                    font-weight: bold;
                }

                > .text {
                    color: #45b0e9;
                }
            }
        }
    }

    @media (min-width: $screen-size-s) {
        > ._wrapper {
            flex-direction: row;
            gap: 32px;

            > .left,
            > .right {
                padding: 70px 0;
            }

            > .left {
                flex: 1 1 50%;
                padding-right: 296px;
            }

            > .right {
                flex: 1 1 50%;
            }
        }
    }

    @media (min-width: $screen-size-m) {
        > ._wrapper {
            > .left {   
                background: no-repeat url('barney-transparent.svg') top 20px right / 163px 365px;
                background-repeat: no-repeat;
            }

            > .right {
                background: url('munition-transparent.svg') no-repeat top 130px right 87px / 98px 110px, url('grenade-transparent.svg') no-repeat top 78px right / 61px 90px;
            }
        }
    }
}