.site-section-news-articles {
    background-color: #19577a;
    color: #ffffff;

    padding: $gap-xl 0;

    > ._wrapper {
        display: flex;
        flex-direction: column;
        gap: $gap-l;
        align-items: center;

        > .std-block-list {
            width: 100%;
        }
    }

    @media (min-width: $screen-m-size) {
        > ._wrapper {
            background: url('/public/crowbar-transparent.svg') no-repeat,
                url('/public/gauss-transparent.svg') no-repeat $img-xs-size ($img-xs-size / 2),
                url('/public/bullsquid-transparent.svg') no-repeat top right
            ;
        }
    }
}