.site-header {
    background-color: $color-white;
    padding: $gap-s 0;

    > ._wrapper {
        align-items: stretch;
        display: flex;
        justify-content: space-between;

        > .button,
        > .text {
            display: none;
        }

        > .logo {
            flex-shrink: 0;
            @include center-content();
    
            > .img {
                height: $txt-font-size-m * 4;
                width: auto;
                display: block;
            }
        }

        > .text {
            > .header-menu {
                display: flex;

                > .item > .std-interactive {
                    display: block;
                }
            }
        }
    }

    @media (max-width: ($screen-size-l - 1)) {
        > ._wrapper.-js {
            flex-wrap: wrap;
            gap: $gap-xs;

            > .button {
                @include center-content();
                background: none;
                border: none;
            }

            > .text {
                width: 100%;
                order: 1;

                &.-open {
                    display: block;
                }

                > .intro {
                    display: none;
                }

                > .header-menu {
                    flex-direction: column;
                    gap: $gap-xs;
                }
            }
        }
    }

    @media (min-width: $screen-size-l) {
        > ._wrapper {
            gap: $gap-l;

            > .text {                
                display: flex;
                flex-direction: column;
                flex: 0 1 auto;
                justify-content: space-around;

                > .intro {
                    color: #19577a;
                    font-size: $txt-font-size-m;
                }

                > .header-menu {
                    align-items: center;
                    justify-content: space-between;
                    gap: 2%;

                    > .item {
                        flex: 1 1 auto;
                    }

                    > .item.-search {
                        flex: 2 1 auto;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-size-l2) {
        > ._wrapper {
            > .logo > .img {
                height: $txt-font-size-l * 4;
            }

            > .text {
                > .intro {
                    font-size: $txt-font-size-l;
                }
            }
        }
    }

    @media (min-width: $screen-size-xl) {
        > ._wrapper {
            > .logo > .img {
                height: $txt-font-size-xl * 4;
            }

            > .text {
                > .intro {
                    font-size: $txt-font-size-l2;
                }
            }
        }
    }
}