.site-footer {
    background-color: #0b4b6e;
    color: $color-white;
    padding: 28px 0;

    > ._wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 6px;

        > .img {
            width: 189px;
            height: auto;   
        }
    }
}