.site-maps-and-mods-tests {
    background-color: #0c4b6e;
    color: #ffffff;
    text-align: center;
    padding: $gap-xl 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > ._wrapper {
        > .section-heading {
            margin-bottom: $gap-l;
        }
    }

    @media (min-width: $screen-m-size) {
        > ._wrapper {
            background: url('/public/headcrab-transparent.svg') no-repeat, url('/public/marine-transparent.svg') no-repeat right/contain;
        }
    }
}