.site-header {
    > ._wrapper {
        display: flex;
        align-items: stretch;
        gap: $gap-s;
        padding: $gap-s;

        > .button {
            display: none;
            background: none;
            border: none;

            > .img {
                display: block;
            }
        }

        > .logo {
            width: 50%;

            > .img {
                width: 100%;
                display: block;
            }
        }

        > .text {
            display: none;

            > .intro {
                display: none;
                font-size: $txt-font-size-s;

                color: #19577a;
            }
        }
    }

    @media (max-width: ($screen-size-s - 1)) {
        > ._wrapper.-js {
            flex-wrap: wrap;
            justify-content: space-between;

            > .button {
                display: block;
            }

            > .text {
                width: 100%;
                order: 1;

                &.-open {
                    display: block;
                }
            }
        }
    }

    @media (min-width: $screen-size-s) {
        > ._wrapper {
            padding-left: 0;
            padding-right: 0;

            > .logo {
                width: 30%;
            }

            > .text {
                display: flex;
                justify-content: center;
            }
        }
    }

    @media (min-width: $screen-size-m) {
        > ._wrapper {
            gap: $gap-l;

            > .logo {
                width: 15%;
            }
        }
    }

    @media (min-width: $screen-size-l) {
        > ._wrapper {
            > .logo {
                width: 10%;
            }

            > .text {
                display: flex;
                flex-direction: column;
                gap: $gap-s;

                > .intro {
                    display: block;                
                    font-size: $txt-font-size-m;
                }
            }
        }
    }
}