.site-section {
    &.-header {
        > ._wrapper {
            align-items: center;
            display: flex;
            gap: $gap-s;
            flex-direction: column;

            > .logo {
                width: 10rem;

                > .img {
                    width: 100%;
                    display: block;
                }
            }

            > .text {
                font-size: $txt-xs-font-size;
                > .intro {
                    color: #19577a;
                }

                > .header-nav {
                    display: none;
                }
            }
        }
    }
}