.site-social-networks {
    > .button {
        > .text {
            display: block;
            text-align: center;

            > .line {
                display: block;
            }
        }
    }
}