.social-networks-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > ._wrapper {
        > .text {
            font-weight: $txt-weight-bold;
            text-align: center;
        }
    }
}