.std-article {
    > .columns {
        > .nav {
            left: -30%;
        }

        > .content {
            > ._vertical-container {
                padding-right: 30%;
                padding-left: 30%;
            }
        }
    }
}