.std-block-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-m-size) {
        flex-direction: row;
        justify-content: space-between;

        > .item {
            flex-basis: 40%;
            flex-grow: 1;
        }
    }
}