.std-metadata {
    display: flex;
    gap: $gap-xs;
    flex-direction: column;

    font-weight: $txt-weight-semi-bold;
    font-size: 20px;

    &.-s {
        font-size: 16px;
    }

    > .item {
        display: flex;
        gap: $gap-xs;

        > .def {
            display: flex;
        }

        > .term {
            display: inline-block;
        }

        > .term {
            color: $color-blue-1;
        }
    }
}