.std-review {
    border: $border-m solid $color-white;
    padding: $gap-m $gap-m 0 $gap-m;

    &.-summary {
        background-color: $color-blue-3;
        border: none;

        > .prosandcons {
            > .part > .markdown > ul {
                flex-direction: column;
                flex-wrap: nowrap;
            }
        }
    }

    > .ratingcontainer {
        display: block;
        float: right;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        border: $border-m solid $color-white;
        height: 8rem;

        > .rating {
            font-size: 6rem;
            font-weight: $txt-weight-semi-bold;
        }
    }

    > .prosandcons {
        > .part {
            > .heading,
            > .subheading,
            > .markdown {
                margin-bottom: $gap-m;
            }
        
            > .heading {
                color: $color-white;
            }
        
            > .markdown {
                > ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: $gap-m;
                    list-style-type: none;
        
                    > li {
                        padding-left: $gap-l;
                        background: center left / $gap-m $gap-m no-repeat;
                    }
                }
        
                &.-pros {
                    > ul > li {
                        background-image: url('list-plus.svg');
                    }
                }
        
                &.-cons {
                    > ul > li {
                        background-image: url('list-minus.svg');
                    }
                }
            }
        }
    }

    > .relatedlinks {
        display: flex;
        gap: $gap-m;
        justify-content: center;

        > .std-button {
            transform: translateY(50%);
        }
    }

    @media (min-width: $screen-size-s) {
        &.-summary {
            > .prosandcons {
                display: flex;
                gap: $gap-m;
            }
        }
    }
}