.std-interactive {
    border-radius: $border-radius-s;
    border-style: solid;
    border-width: $border-s;
    padding: 8px;
    text-align: center;
    font-weight: 500;

    border-color: $color-blue-0;
    color: $color-blue-2;

    &.-search {
        display: flex;
        gap: $gap-s;

        border-color:$color-grey;
        background-color: $color-grey;
        color: $color-dark;
        border-radius: 1vb;

        > .icon {
            flex: 0 0 auto;
            height: $txt-font-size-m;
        }

        > .input {
            border: none;
            flex-grow: 1;
            background: none;
            outline: none;
        }
    }
}