.std-review {
    > .relatedlinks {
        > .std-button {
            border-radius: $border-radius-m;
        }

        > .list > .std-button,
        > .std-button {
            font-size: $r-font-size-m;
        }

        > .list {
            > .std-button {
                border-radius: $border-radius-m;
            }

            > .link {
                font-size: $r-font-size-m;
            }

            &:hover {
                border-radius: 0 0 $border-radius-m $border-radius-m;

                > .std-button {
                    border-radius: $border-radius-m $border-radius-m 0 0;
                }
            }
        }
    }
}