.std-review {
    display: flex;
    flex-direction: column;

    border: 4px solid $color-white;

    &.-summary {
        background-color: $color-blue-3;
        border: none;

        > .box {
            > .prosandcons {
                display: flex;

                > .part > .markdown > ul {
                    flex-direction: column;
                    flex-wrap: nowrap;
                }
            }
        }
    }

    > .box {
        > .std-rating-container {
            float: right;
        }
    
        > .prosandcons {
            display: flex;
            flex-direction: column;

            > .part {
                > .heading {
                    color: $color-white;
                }
            
                > .markdown {
                    > ul {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 16px;
                        list-style-type: none;
            
                        > li {
                            padding-left: 24px;
                            background: center left / 16px 16px no-repeat;
                        }
                    }

                    &.-pros {
                        > ul > li {
                            background-image: url('list-plus.svg');
                        }
                    }
            
                    &.-cons {
                        > ul > li {
                            background-image: url('list-minus.svg');
                        }
                    }
                }
            }
        }
    }

    > .relatedlinks {
        display: flex;
        gap:16px;
        justify-content: center;

        > .std-button {
            transform: translateY(50%);
        }
    }

    @media (min-width: $screen-size-l2) {
        &.-summary {
            > .box {
                > .prosandcons {
                    flex-direction: row;
                    gap: 4%;
    
                    > .part {
                        flex: 1 1 48%;
                    }
                }
            }
        }
    }
}