.std-rating-container {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;

    border: 5px solid $color-white;
    color: $color-white;

    > .rating {
        > .whole {
            font-size: 76px;
            font-weight: $txt-weight-semi-bold;
        }

        > .decimal {
            font-size: 40px;
        }
    }

    > .heading {
        color: $color-white;
    }

    &.-s {
        width: 80px;
        height: 80px;
        border-width: 5px;
    
        > .rating {
            font-size: 60px;
        }
    }
}