.std-block-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: $gap-s;

    > .item {
        flex-basis: auto;
        flex-grow: 1;
        height: 20vi;
    }

    @media (min-width: $screen-size-m) {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;

        > .item {
            height: 10vi;
        }

        &.-small {

            > .item {
                height: 7.5vi;
            }
        }
    }
}