.std-review {
    &.-summary {
        > .box {
            > .prosandcons {
                flex-direction: row;
                gap: $gap-s;

                > .part {
                    flex: 1 1 50%;
                }
            }
        }
    }
    
    > .relatedlinks {
        > .list > .std-button,
        > .std-button {
            font-size: $r-font-size-l;
        }

        > .-moretests {
            display: block;
        }

        > .list {
            > .link {
                font-size: $r-font-size-l;
            }
        }
    }
}