.std-review {
    > .relatedlinks {
        gap: $gap-s;

        > .list > .std-button,
        > .std-button {
            padding: $gap-xxs $gap-s;
        }

        > .list {
            > .link {
                padding: 0 $gap-s;
            }

            &:hover {
                > .link {
                    padding: $gap-xxs $gap-s;
                }
            }
        }
    }
}