.std-button {
    display: inline-flex;
    align-items: center;
    border-radius: $border-radius-s;
    border: $border-xs solid $color-white;
    justify-content: center;

    @include asymetric-padding;

    &.-blue {
        background-color: $color-blue-2;
        color: $color-white;
    }

    &.-darkblue {
        background-color: $color-blue-3;
    }

    &.-transparent {
        color: $color-white;
    }

    &.-upper {
        text-transform: uppercase;
    }

    &.-white {
        background-color: $color-white;
        color: $color-blue-3;
    }

    &.-withicon {
        > .text {
            display: none;
        }
    }

    > .text {
        text-align: center;
    }
}