.std-mosaic-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: $gap-m;
    list-style-type: none;

    > .item {
        flex: 0 0 49%;
    }

    &.-n3 {
        > .item {
            flex-basis: 32%;
        }
    }
}