.std-article {
    > .columns {
        > .nav {
            left: -25%;
            width: 256px;
        }

        > .content {
            > ._vertical-container {
                padding-right: 25%;
                padding-left: 25%;

                > ._horizontal-container {
                    padding-left: unset;
                    padding-right: unset;
                }
            }
        }
    }
}