.std-badge {
    @include asymetric-padding;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    background-color: $color-blue-0;
    color: $color-white;
}