.std-article {
    > .columns {
        display: flex;
        flex-direction: column;

        > .content {
            > .intro {
                background-color: $color-blue-4;
            }
        }

        > .nav {
            order: 1;
        }
    }
}