.std-article {
    > .columns {
        > .nav {
            left: -25%;
            width: 256px;
        }

        > .content > .glide,
        > .content > .sectioncontent,
        > .content .intro > .sectioncontent {
            width: 50dvw;
            margin: auto;
        }
    }
}