.std-block-list {
    display: flex;
    flex-direction: column;

    > .item {
        flex: 1 1 auto;
    }

    @media (min-width: $screen-size-m) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}