.std-button {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    border: $border-xs solid $color-white;
    justify-content: center;
    @include asymetric-padding;

    &.-blue {
        background-color: #19577a;
        color: #ffffff;
    }

    &.-transparent {
        color: $color-white;
    }

    &.-upper {
        text-transform: uppercase;
    }

    &.-white {
        background-color: #ffffff;
        color: #0b4b6e;
    }

    &.-withicon {
        > .text {
            display: none;
        }
    }

    > .text {
        text-align: center;

        > .bold {
            font-weight: $txt-weight-bold;
        }
    }

    @media (min-width: $screen-size-s) {
        &.-withicon {
            > .text {
                display: block;
            }
        }
    }
}