.std-inline-list {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    justify-content: center;
    list-style-type: "-";

    > .item {
        padding-left: 16px;

        > .link {
            color: $color-white;

            > .img {
                height: 1em;
            }
        }

        &:first-child,
        &.-img {
            list-style-type: none;
        }
    }
}