.std-markdown-container {
    overflow-wrap: break-word;

    img {
        display: block;
    }

    img + em {
        display: block;
        width: fit-content;
        max-width: 90%;
        padding: $gap-xs;
        transform: translateX($gap-s2) translateY(-$gap-s2 * 2);
        margin-bottom: -$gap-s2 * 2;

        font-weight: $txt-weight-regular;
        font-style: italic;
        background-color: $color-blue-0;
    }

    a {
        text-decoration: underline;
        font-style: italic;

        &:hover {
            text-decoration: none;
        }
    }

    h1 {
        @include h1;
    }

    h2 {
        @include h2;
    }

    h3,
    h4,
    h5 {
        @include h3;
    }

    iframe {
        max-width: 100%;
        height: unset;
        aspect-ratio: 16 / 9;
    }

    ol,
    ul {
        padding-left: $gap-m;
    }

    ul {
        list-style-type: circle;
    }

    p,
    li,
    ol,
    img {
        margin-bottom: $gap-s2;
    }

    p {
        line-height: 1.4em;
        font-size: 18px;
    }
}