.std-article {
    > .columns {
        flex-direction: row;

        > .nav {
            order: 1;
            position: relative;
            left: -30%;
            width: 30%;
            flex: 0 0 auto;

            > .article-nav {
                position: sticky;
                top: 18px;
            }
        }

        > .content {
            flex: 0 0 100%;

            > .intro > .sectioncontent,
            > .section,
            > .sectioncontent {
                width: 70dvw;
            }
        }
    }
}