.std-metadata {
    display: flex;
    gap: $gap-xs;
    flex-direction: column;

    font-weight: $txt-weight-semi-bold;

    > .item {
        > .def,
        > .term {
            display: inline-block;
        }

        > .term {
            color: $color-blue-1;
        }
    }

    @media (min-width: $screen-size-m) {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: $gap-l;
    }
}