.std-markdown-container {
    overflow-wrap: break-word;

    img {
        display: block;
    }

    img + em {
        display: inline-block;
        max-width: 50%;
        padding: $gap-s;
        transform: translateX(5%) translateY(-50%);

        font-weight: $txt-weight-regular;
        font-style: italic;
        background-color: $color-blue-0;
    }

    a {
        text-decoration: underline;
        font-style: italic;

        &:hover {
            text-decoration: none;
        }
    }

    h1 {
        margin-bottom: $gap-l2;
        font-size: $txt-font-size-xl;
    }

    h2 {
        margin-bottom: $gap-l;
        font-size: $txt-font-size-l2;
    }

    h3,
    h4,
    h5 {
        margin-bottom: $gap-m;
        font-size: $txt-font-size-l;
    }

    p,
    li {
        margin-bottom: $gap-s2;
    }

    ol,
    ul {
        padding-left: $gap-m;
    }
}