.std-article {
    > .blue {
        height: 0;

        > .imafraidijustbluemyself {
            background-color: $color-blue-3;
            height: $area-height-l * 2;
        }
    }

    > .main {
        > .content {
            max-width: 40em;
            padding-bottom: $gap-l;
            padding-top: $gap-l;

            &.-review {
                background-color: $color-blue-3;
            }

            h1,
            h2,
            h3 {
                margin-bottom: $gap-m;
            }
    
            p {
                color: $color-white;
                line-height: $txt-font-size-l;
                margin-bottom: $gap-s;
            }
        }

        > .nav {
            display: none;
        }
    }

    @media (min-width: $screen-size-m) {
        > .main {
            > .content {
                display: flex;
                flex-direction: column;
                gap: $gap-l;
                max-width: unset;
                padding-left: 5%;
                padding-right: 30%;
            }
            
            > .nav {
                display: flex;
                flex-direction: column;
                gap: $gap-m;
                padding-top: $gap-l;
                position: absolute;
                right: 5%;
                width: 20%;

                > .frame {
                    border: $border-xs solid $color-blue-1;
                    padding: $gap-s;

                    &.-articlenav {
                        > .list {
                            > .item {
                                > .link {
                                    display: block;
                                    border-right: $border-m solid $color-blue-1;
                                    color: $color-blue-1;
                                    text-align: right;
                                    padding: $gap-s;
                                    font-weight: $txt-weight-semi-bold;

                                    &.-active {
                                        color: $color-white;
                                        border-color: $color-white;
                                        font-weight: $txt-weight-bold;
                                    }
                                }
                            }
                        }
                    }

                    &.-related {
                        color: $color-white;

                        > .heading {
                            text-align: center;
                            font-size: $txt-font-size-l;
                            margin-bottom: $gap-m;
                        }

                        > .list {
                            display: flex;
                            flex-direction: column;
                            gap: $gap-s;

                            > .item {
                                > .link {
                                    color: $color-white;
                                    font-weight: $txt-weight-regular;
                                    text-decoration: none;

                                    > .image {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }

                    > .list {
                        list-style-type: none;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-size-l) {
        > .main {
            > .content {
                padding-right: 25%;
            }
            
            > .nav {
                display: flex;
                flex-direction: column;
                gap: $gap-m;
                width: 15%;
                position: absolute;
                right: 5%;
            }
        }
    }

    @media (min-width: $screen-size-xl) {
        > .main {
            > .content {
                padding-right: 20%;
            }
            
            > .nav {
                display: flex;
                flex-direction: column;
                gap: $gap-m;
                width: 10%;
                position: absolute;
                right: 5%;
            }
        }
    }
}