.tag-link {
    background-color: $color-white;
    border-radius: $border-radius-s;
    border: $border-width-m solid $color-white;
    color: $color-blue-2;
    font-size: $txt-font-size-s;
    font-weight: $txt-weight-semi-bold;
    padding: $gap-xxs;

    &.-current {
        background: none;
        color: $color-white;
    }

    &.-sm {
        padding: $gap-xxxs;
    }
}