{% extends 'base.html.twig' %}

{% block bodyContent %}
<h1 class="_h1">{{ book.title }}</h1>
{% for c in book.chapters %}
<h2 class="_h2">{{ c.title }}</h2>
<ol>
{% for a in c.articles %}
<li class="item">
    <a href="{{ app.router.generateUrl('article', [a.id]) }}">{{ a.title }}</a>
</li>
{% endfor %}
</ol>
{% endfor %}

{% endblock %}