{% extends 'base.html.twig' %}

{# @todo Add CSRF #}

{% block bodyContent %}
<form autocomplete="on" class="form-row-container _flex -centered -gap" method="post">
    <p>Souhaitez-vous vous déconnecter ?</p>
    <button class="std-button" type="submit">Déconnexion</button>
</form>
{% endblock %}