RewriteEngine On
RewriteRule ^favicon.ico$ ../../public/favicon.ico [L]
RewriteRule ^public\/(.*)$ ../../public/$1 [QSA,L]
RewriteRule ^(.*)$ ../../index.php?route_params=$1 [QSA,L]

<Directory public>
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
    Header set Cache-Control "max-age=31536000, immutable, public"
</Directory>