{
    "db": {
        "host": "db_dsn",
        "name": "mfdb",
        "password": "This is me",
        "username": "root"
    },
    "dev": true,
    "homeUrl": "http://localhost",
    "publicUrl": "/public",
    "rootMemberPwd": "This is me"
}