.review-mosaic {
    display: flex;
    flex-direction: column;
    gap: $gap-m;

    > .img {
        display: flex;
        align-items: end;
        height: 280px;

        background-size: cover;
        background-position: center;

        > .std-badge {
            transform: translateX(16px) translateY(50%);
            font-size: 18px;
        }
    }

    > .text {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        > .left {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            > .date,
            > .title {
                font-size: $txt-font-size-m;
            }

            > .date {
                color: $color-blue-05;
                font-size: 18px;
            }

            > .title {
                color: $color-white;
                font-size: 20px;
            }
        }
    }
}