.site-section-news-articles {
    background-color: $color-blue-2;
    color: $color-white;

    > ._wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 94px;
        align-items: center;

        > .list {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex: 0 0 100%;

            > .item {
                flex: 0 0 100%;
            }
        }
    }
}