.social-networks-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > ._horizontal-container {
        > .text {
            font-weight: $txt-weight-bold;
            text-align: center;
            font-size: $txt-font-size-l;
        }
    }
}