.std-article {
    > .columns {
        display: flex;
        flex-direction: column;

        > .content {
            @include vertical-container;
            @include vertical-section;

            &:first-child {
                padding-top: 0;
            }

            > .section {                
                > .sectioncontent {
                    @include vertical-container;
                    padding-left: $gap-xs;
                    padding-right: $gap-xs;
                }
            }

            > .section.-intro {
                @include vertical-section;
                background-color: $color-blue-4;
            }
        }
    }
}