@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin asymetric-padding {
    padding: 1% 4%;
}

@mixin h1 {
    font-size: $txt-font-size-xl;
    color: $color-blue-0;
    font-weight: $txt-weight-bold;
}

@mixin h2 {
    font-size: $txt-font-size-l2;
    color: $color-blue-0;
    font-weight: $txt-weight-semi-bold;
}

@mixin h3 {
    font-size: $txt-font-size-l;
    color: $color-blue-0;
}