@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin asymetric-padding {
    padding: 1% 4%;
}

@mixin h1 {
    font-size: $txt-font-size-xl;
    color: $color-blue-05;
    font-weight: $txt-weight-bold;
}

@mixin h2 {
    font-size: 25px;
    color: $color-blue-05;
    font-weight: $txt-weight-semi-bold;
}

@mixin h3 {
    font-size: 22px;
    color: $color-blue-05;
    font-weight: $txt-weight-regular;
}

@mixin text-content {
    line-height: 24px;
    font-size: 18px;
    overflow-wrap: break-word;
}