@mixin button {
    border-radius: $gap-s;
    padding: $gap-s $gap-m;
    text-decoration: none
}

@mixin white-button {
    @include button;
    background-color: #ffffff;
    color: #0b4b6e;
}

@mixin blue-button {
    @include button;
    background-color: #19577a;
    color: #ffffff;
}