* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $color-white;
}

h1,
h2,
h3 {
    color: $color-blue-0;
    margin-bottom: $gap-m;
}

em {
    font-style: normal;
    font-weight: bold;
}

img {
    max-width: 100%;
}