$area-l-height: 16rem;
$area-s-size: 3rem;
$block-border: 0.5rem;
$block-padding-s: 0.3rem;
$border-s: 3px;
$border-xs: 1.5px;
$btn-l-height: 6rem;
$gap-l: 2rem;
$gap-m: 1rem;
$gap-s: 0.5rem;
$gap-xl: 4rem;
$gap-xs: 0.3rem;
$img-s-size: 16rem;
$img-xs-size: 6rem;
$img-xxs-size: 3rem;
$screen-l-size: 1024px;
$screen-m-size: 768px;
$screen-s-size: 425px;
$txt-l-font-size: 1.2rem;
$txt-l-shadow-blur: 0.4rem;
$txt-m-font-size: 1rem;
$txt-s-font-size: 0.8rem;
$txt-xs-font-size: 0.5rem;
$txt-weight-bold: 700;
$txt-weight-light: 300;
$txt-weight-regular: 400;
$txt-weight-semi-bold: 600;
$txt-xl-font-size: 1.7rem;

@import 'reset.scss';

@import 'mixins.scss';

@import 'helpers/_wrapper.scss';

@import 'glide/glide.scss';

@import 'elements/site-admin-nav.scss';
@import 'elements/site-body.scss';
@import 'elements/site-footer.scss';
@import 'elements/site-maps-and-mods-tests.scss';
@import 'elements/site-section-beginners.scss';
@import 'elements/site-section.scss';
@import 'elements/site-social-networks.scss';

@import 'elements/site-section-news-articles.scss';

@import 'elements/section-heading.scss';

@import 'elements/header-menu.scss';

@import 'elements/std-badge.scss';
@import 'elements/std-block-list.scss';
@import 'elements/std-form.scss';
@import 'elements/std-inline-list.scss';
@import 'elements/std-review-mosaic.scss';
@import 'elements/std-white-button.scss';

@import 'elements/form-row.scss';


@import 'elements/article-mosaic.scss';
