{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block index %}<meta name="robots" content="noindex">{% endblock %}

{% block bodyContent %}
<p class="_txt -textcentered">{{ message }}</p>
{% endblock %}