.article-nav {
    display: flex;
    flex-direction: column;

    background-color: $color-blue-4;

    > .frame {
        display: flex;
        flex-direction: column;
        padding: $gap-s $gap-s2;

        border: 3px solid $color-blue-1;

        &.-book,
        &.-related {
            row-gap: $gap-m;
        }

        &.-articlenav {
            display: none;
        }

        &.-related {
            > .list {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                > .item {
                    > .link {
                        color: $color-white;
                        font-weight: $txt-weight-regular;

                        > .image {
                            width: 100%;
                            height: auto;
                            display: block;
                            margin-bottom: $gap-xxs;
                        }
                    }

                    > .list {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }

        > .heading,
        > .subheading {
            text-align: center;
        }

        > .heading {
            color: $color-white;
            font-size: $txt-font-size-l;
        }
    }
}