.page-home {
    > .glide > .glide__track > .blueshadow {
        height: 30%;
        position: absolute;
        transform: translateY(-95%);
        width: 100%;

        pointer-events: none;

        background-image: url("/public/blue-shadow.png");
        background-size: 100% 100%;
    }

    > .site-maps-and-mods-tests > ._wrapper,
    > .site-social-networks > .content {
        padding-top: 124px;
    }

    > .site-maps-and-mods-tests {
        padding-top: 0;
    }

    > .site-social-networks > .content {
        background-color: $color-blue-2;
        height: 0;
    }
}