.section-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    text-align: center;

    &.-white {
        > .text {
            color: $color-white;
            font-weight: $txt-weight-regular;
        }
    }

    > .image {
        width: 118px;
        height: auto;
    }
}