.site-footer {
    background-color: #0b4b6e;
    color: $color-white;

    > .logo {
        > .img {
            display: block;
            height: auto;
            margin: auto;
            width: 189px;
        }
    }
}