.site-maps-and-mods-tests {
    > .content {
        background: url('headcrab-transparent.svg') no-repeat top 180px left 160px  / 140px 126px, url('marine-transparent.svg') no-repeat top 64px right 46px / 186px 266px;

        > .list {
            width: 100%;
            flex-wrap: nowrap;
            
            > .item {
                flex: 0 0 25%;
            }
        }
    }
}