.std-link {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &.-inverse {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}