{% macro previous(app, page) %}
<div class="previous-link">
    <a class="link" href="{{ page.parent.url }}">
        <img class="image" {{ app.imgAttr('Précédent', 'arrow-left.svg', false, 16, 16)|raw }}>
        <span class="text">{{ page.parent.name }}</span>
    </a>
</div>
{% endmacro %}