._flex {
    display: flex;
    flex-direction: column;

    &.-centered {
        align-items: center;
    }

    &.-gap {
        gap: $gap-m;
    }

    &.-gapl {
        gap: $gap-l;
    }

    &.-gaps {
        gap: $gap-s;
    }
}