._flex {
    display: flex;

    &.-col {
        flex-direction: column;
    }

    &.-centered {
        align-items: center;
    }

    &.-gap {
        gap: $gap-m;
    }

    &.-gapl {
        gap: $gap-l;
    }

    &.-gaps {
        gap: $gap-s;
    }

    &.-row {
        flex-direction: row;
    }
}