._text {
    &.-bold {
        font-weight: $txt-weight-bold;
    }

    &.-textcentered {
        text-align: center;
    }

    &.-text-s {
        font-size: 16px;
    }

    &.-text-m {
        font-size: 20px;
    }

    &.-text-l {
        font-size: 25px;
    }

    &.-text-xl {
        font-size: 35px;
    }
}