._text {
    &.-textcentered {
        text-align: center;
    }

    &.-text-s {
        font-size: 16px;
    }

    &.-text-m {
        font-size: 20px;
    }

    &.-text-xl {
        font-size: 35px;
    }
}