._txt {
    &.-bold {
        font-weight: $txt-weight-bold;
    }

    &.-textcentered {
        text-align: center;
    }

    &.-txtxs {
        font-size: 12px;
    }

    &.-txts {
        font-size: 16px;
    }

    &.-txtm {
        font-size: 20px;
    }

    &.-txtm2 {
        font-size: 22px;
    }

    &.-txtl {
        font-size: 25px;
    }

    &.-txtxl {
        font-size: 35px;
    }
}