._wrapper {
    @media (min-width: $screen-size-m) {
        margin: auto;
        max-width: 90rem;
        width: 85%;
        padding: 0;

        &.-sm {
            max-width: 75rem;
        }

        &.-xs {
            max-width: 65rem;
        }
    }

    @media (min-width: $screen-size-l) {
        width: 80%;
    }

    @media (min-width: $screen-size-l2) {
        width: 75%;
    }
}